body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.hidden {
    display: none;
}

.error-msg {
    color: red;
    font-style: bold;
}

.correct-answer {
    background-color: #198754 !important;
    color: #f7f7f7 !important;
}

.question-heading {
    border-bottom: 1px black solid;
}

.display-answer {
    color: rgb(234, 96, 32);
    font-weight: bold;
}

/* The switch container */
.switch {
    position: fixed;
    top: 10px;
    right: 10px;
    display: inline-block;
    width: 50px;
    height: 24px;
  }
  
  /* Hide default checkbox */
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    background-color: #ccc;
    border-radius: 34px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 0.4s;
  }
  
  /* The circle */
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    border-radius: 50%;
    transition: 0.4s;
  }
  
  /* Checked background */
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  /* Move the circle when checked */
  input:checked + .slider:before {
    transform: translateX(26px);
  }
  

  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

body.dark {
    background-color: #121212;
    color: #ffffff;
  }
  
  
  body.dark .quiz-area,
  body.dark .begin-quiz,
  body.dark .end-area {
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  
  body.dark button {
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
  }
  